* {
    border: 0;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

.navbar, .dropdown-menu {
    /* background-color: rgba(214, 122, 88, 0.712); */
    background-color: rgb(139, 94, 92);
    i,
    li a {
        color: rgb(253, 236, 225);
      
    } 
}
.navbar-brand img{
 width: 10rem;
}


span {
    /*color: rgb(173, 109, 107);*/
    color: rgb(139, 94, 92);
    font-style: italic;

}

.fi-br-menu-burger {
    display: none;
}

section {
    display: flex;
    background-color: rgb(245, 238, 232);
    flex-wrap: wrap;
    /*color: rgb(182, 118, 95);*/
    color: rgb(214, 122, 88);

    p {
        color: rgba(0, 0, 0, 0.61);
        max-width: 25rem;
    }
    h2{
        max-width: 25rem;
    }
    img {
        width: 50%;
    }

    div {
        
        text-align: center;
        margin: auto;
    }

    h4 {
        margin: 1em;
    }
}

.btn, button {
    /*background-color: rgb(155, 75, 72);*/
    background-color: rgb(139, 94, 92);
    color: rgb(245, 238, 232);
    padding: 0.4em;
    margin: 0.4em;
    border-radius: 0.4em;
}



/*
.card {
    width: 10em;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 1em;
    padding: 0.8rem;
}

.card img {
    width: 10em;
    height: 10em;
    border-radius: 1em;
}
*/

article {
    /* background-color: rgb(235, 206, 198); */
    /* background-color: rgb(136, 115, 114);
    background-color: rgb(139, 94, 92);
    background-color: rgba(214, 122, 88); */
    background-color: #A47D72;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em;
    text-align: center;
    /* color:rgb(245, 238, 232); */
    color: #fffde2;

    i {

        display: flex;
        flex-direction: column;
        text-align: center;
    }

    i::before {
        font-size: 3em;
    }

    div {
        display: block;
        grid-column: 3 / 5;
        justify-content: space-evenly;
        flex-wrap: wrap;

        p {
            margin-inline: 0.2rem;
        }
    }
}

.form {
    background-color: rgb(235, 206, 198);
    display: flex;
    flex-direction: column;
    padding: 1rem;

    input,
    textarea {
        border-radius: 0.5em;
        padding: 0.5em;
    }
}

footer {
    background-color: rgb(216, 164, 150);
    padding: 1rem;
    bottom: 0;
}

@media (max-width: 750px) {
    article {
        grid-template-columns: repeat(2, 1fr);
    }

    section {

        img,
        div {
            width: 100%;
        }
    }
}
